@import '~@/assets/styles/colors.scss';

.todo-list__header {
  padding: 10px;
  width: 100%;
  margin-bottom: 40px;

  border-bottom: 1px solid $black-green;

  svg {
    fill: $gainsborough;

    cursor: pointer;
  }
}

.moon-icon {
  width: 24px;
  height: 24px;
}

.header__wrapper {
  width: max-content;
  margin-left: auto;

  user-select: none;
}