$space: #3D434B;
$bright-purple: #8A4AB7;
$blush: #d53571;
$blush-darkness: #E25B88;
$blush-darkness2: #d23970;
$gainsborough: #DCE0E3;
$gray-window: #9A9FA7;
$black-green: #343A3F;
$grayish-blue: #484F58;
$main-white: #FFFFFF;